.margin {
    max-width: 50%;
    margin: auto;
}
h1{
    text-align: center;
}
.container{
    max-width: 50%;
    margin: auto;
    display: flex;
}
#mid-margin{
    margin: 0 1% 0 1%;
}

.contain img{
    height: 300px;
    width: 400px;
}
.contain p {
    text-align: center;
}