.margin {
    max-width: 50%;
    margin: auto;
    border-bottom-style: solid;
}
h1{
    text-align: center;
}
.container{
    max-width: 50%;
    margin: auto;
    display: flex;
}
#mid-margin{
    margin: 0 1% 0 1%;
}

img{
    height: 300px;
    width: 400px;
}
.contain p {
    text-align: center;
}
div.margin {
    text-align: center;
}
ul {
    list-style: none;
    text-align: left;
}
ol {
    text-align: left;
}
.align {
    text-align: left;
}
.back-to-main{
    text-align: center;
}
img {
    border-style: solid;
}
.pic1{
    border-color: red;
}
.pic2{
    border-color: blue;
}
.pic3{
    border-color: yellow;
}